<p><strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p><strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p><strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p><strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p><strong>Reviews:</strong>

<div>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li><%= review.rating %></li>
      <li><%= review.content %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
