<p><strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p><strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p><strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p><strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p><strong>Ratings:</strong>
  <%= @restaurant.rating %>
</p>

<div>
  <ul>
    <% @reviews.each do |review| %>
      <li><%= review.content %></li>
    <% end %>
  </ul>
</div>
